<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiuxiujie.demo.dao.DataMapper">

  <select id="getDataOfExportExcel" resultType="java.util.Map">
    SELECT
      types,
      brand,
      num_color,
      announced_time,
      market_position,
      chip_platform,
      chip_freq,
      AP,
      num_freq,
      price,
      look_type,
      thickness,
      weight,
      num_screen,
      size_screen,
      ratio,
      touch_screen,
      keyboard_type,
      RAM,
      ROM,
      Flash,
      camera,
      positions,
      FM,
      TV,
      modem,
      infrared,
      bluetooth,
      wlann,
      battery,
      gravity,
      direction,
      num_text_method,
      intelli_sys

    FROM
      datas
  </select>

  <insert id="addMultSiteInfo" parameterType="java.util.List">
    insert into datas
    (id,
    types,
    brand,
    num_color,
    announced_time,
    market_position,
    chip_platform,
    chip_freq,
    AP,
    num_freq,
    price,
    look_type,
    thickness,
    weight,
    num_screen,
    size_screen,
    ratio,
    touch_screen,
    keyboard_type,
    RAM,
    ROM,
    Flash,
    camera,
    positions,
    FM,
    TV,
    modem,
    infrared,
    bluetooth,
    wlann,
    battery,
    gravity,
    direction,
    num_text_method,
    intelli_sys)
    values
    <foreach collection="list" item="datas" index="index"
             separator=",">
      (
      #{datas.id},
      #{datas.types},
      #{datas.brand},
      #{datas.numColor},
      #{datas.announcedTime},
      #{datas.marketPosition},
      #{datas.chipPlatform},
      #{datas.chipFreq},
      #{datas.ap},
      #{datas.numFreq},
      #{datas.price},
      #{datas.lookType},
      #{datas.thickness},
      #{datas.weight},
      #{datas.numScreen},
      #{datas.sizeScreen},
      #{datas.ratio},
      #{datas.touchScreen},
      #{datas.keyboardType},
      #{datas.ram},
      #{datas.rom},
      #{datas.flash},
      #{datas.camera},
      #{datas.positions},
      #{datas.fm},
      #{datas.tv},
      #{datas.modem},
      #{datas.infrared},
      #{datas.bluetooth},
      #{datas.wlann},
      #{datas.battery},
      #{datas.gravity},
      #{datas.direction},
      #{datas.numTextMethod},
      #{datas.intelliSys}
      )
    </foreach>
  </insert>

</mapper>